body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F0D6AB; 
}

.content {
    display: flex;
    flex-direction: flex-end;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    background-color: #F0D6AB;
}




.chat {
    background-color: #fff;
    width: 80%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    align-self: flex-end;

}

.chat-messages {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
}

input[type="text"] {
    height: 40px;
    width: 91%;
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 3px solid #ccc;

}
button {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #007bff, #0056b3); 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    position: relative;
    overflow: hidden;
}

button::after {
    content: "\2192"; 
    font-size: 20px;
    display: block;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

button:hover {
    background: linear-gradient(to bottom, #0056b3, #003a73); 
}

button:hover::after {
    transform: translateX(8px);
}

